<div class="references-content">
  <div class="main-title">
    <h1>História da Igreja</h1>
    <span>Material e documentos relacionados à EBD sobre História da Igreja na Igreja Batista Conde de Porto
      Alegre.</span>
  </div>

  <h2>Material e Aulas</h2>
  <iframe src="https://drive.google.com/embeddedfolderview?id=1VaBG5vileieu4y8w4lsXw6bxn5EvW-p7#list"></iframe>

  <h2>Documentos</h2>
  <iframe src="https://drive.google.com/embeddedfolderview?id=1bL-g4qX-buy-VGc2lPQUbPruRWj9eR82#list"></iframe>
</div>