<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="sidebar-header">
    <h4>História do Cristianismo</h4>
  </div>
  <a class="menu-item" (click)="navigate('timeline/completa')">Timeline Completa</a>
  <a class="menu-item" (click)="navigate('timeline/antigo')">Igreja Antiga</a>
  <a class="menu-item" (click)="navigate('timeline/medieval')">Igreja Medieval</a>
  <a class="menu-item" (click)="navigate('timeline/reforma')">Reforma Protestante</a>
  <a class="menu-item" (click)="navigate('timeline/modernidade')">Modernidade</a>
  <a href="https://medium.com/salatiel-bairros/" class="bottom" target="_blank">Salatiel Bairros</a>
</div>

<div id="main" class="navbar">
  <span id="hamburger" style="font-size:30px;cursor:pointer;" onclick="openNav()">&#9776;</span>
</div>

<div style="margin-top: 100px;">
  <router-outlet></router-outlet>
</div>